<phpunit colors="true"
 beStrictAboutChangesToGlobalState="true"
 beStrictAboutOutputDuringTests="true"
 beStrictAboutTestSize="true"
 beStrictAboutTestsThatDoNotTestAnything="true"
 checkForUnintentionallyCoveredCode="true"
>
 <php>
  <includePath>../</includePath>
 </php>
 <filter>
  <whitelist>
   <directory suffix="Test.php">./tests</directory>
  </whitelist>
 </filter>
</phpunit>
